<div class="container">
  <header>
    <h1 class="py-5 text-center">Simple Todo List</h1>
  </header>
  <main>
    <div class="todo-form">
      <form method="POST" action="/addTodo">
        <label class="form-label fs-2" for="todoText">Todo Name</label>
        <input class="form-control fs-6" placeholder="--Type your todo--" type="text" name="todoText" id="todoText">
        <input class="btn btn-primary mt-3" type="submit" value="Submit">
      </form>
    </div>

    <div class="to-list mt-3">
      <ul class="list-group">
        {{#each item}}
        <li class="list-group-item d-flex justify-content-between align-items-start mt-1" id={{this.id}}>
          <h2 class="ms-2 me-auto">{{this.todoText}}</h2>
          <button class="delete-buttom btn btn-danger" type="submit">delete</button>
          <input class="checkbox btn-check" id="btncheck{{this.id}}" type="checkbox" {{this.status}}>
          <label class="btn btn-outline-primary ms-3" for="btncheck{{this.id}}">Status</label>
        </li>
        {{/each}}
      </ul>
    </div>
  </main>
</div>